* {
    background-color: #f4f4f9;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2c3e50;
    font-size: 42px;
    text-align: center;
    font-weight: bold;;
}
li a {
    text-decoration: none;
    color: #3498db;
    font-weight: lighter
}
li a:hover {
    color: #e74c3c;
}
